@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;300;400;500;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background: #dbe9fec6;
}

.showcase-banner img{
  filter: opacity(0.5) drop-shadow(0 0 0 #0066fe);
  transition: filter 100ms ease-in-out;
}
.showcase-banner:hover img{
  cursor: pointer;
  filter: none;
}
.showcase-banner:hover::after{
  opacity: 0;
}
.showcase-banner:after{
  cursor: pointer;
  content: attr(url-attr);
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 100ms ease-in-out;
}